<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
     
    <title>Menú</title>
</head>

<body>
    <header class="header" >
        <h1 >Nuestro Restó</h1>
        <h2 id="volverArriba">Carta</h2>
    </header >
    <main class="main">
<section class="main__section__contenedor">
    <article class="main__menu--lista">
  <ul>
        <li><a href="#entradas">Entradas</a></li>
        <li><a href="#platos_principales">Platos principales</a></li>
        <li><a href="#">Ensaladas</a></li>
        <li><a href="#">Raws</a></li>
        <li><a href="#postres">Postres</a></li>
        <li><a href="#">Desayunos y Meriendas</a></li>
        <li><a href="#">Bebidas</a></li>
        <li><a href="#">Smoothies</a></li>
        <li><a href="#">Té y Café</a></li>
        <li><a href="#">Vinos</a></li>
        <li><a href="#">Cervezas</a></li>
    </ul>
    </article>
    <article class="main__menu__detalle" >
            <h2 class="main__entrada--detalles-titulo" >Entradas</h2>
            <article class="main__img">
                <img class="main__entrada--image"  src="/img/foto-entradas.jpg" alt="foto-entradas">
            </article>
            <article>
                <h3 >Muzzarella Sticks</h3>
                <p>Bastones de muzzarella rebozados</p>
            </article>
        
            <article>
                <h3>Ración de Rabas</h3>
                <p>220 gr. de chicharrón de calamar <br>frito con alioli</p>
            </article>
            <article>
                <h3>Ración de papas fritas con Cheddar y verdeo</h3>
            </article>
            <article>
                <h3>Chicken Wings</h3>
                <p>Alitas de pollo empanada y frita con salsa BBQ</p>
            </article>
            <article>
                <h3>Croquetas de hongos</h3>
                <p>Croquetas elaboradas a base de hongos disecados.</p>
            </article>
            <article>
                <h3>Langostinos en cous cous</h3>
                <p>Langostinos a la plancha con frutos secos, tomates cherry, albahaca y <br>cous cous</p>
            </article>
            <article>
                <h3>Chipirones a la plancha</h3>
                <p>Con chutney de mango y sandía a la plancha</p>
            </article>
            <article>
                <h3>Nachos con refrito</h3>
                <p>Nachos salteados con porotos negros, chorizo colorado y salsa BBQ</p>
            </article>
            <article>
                <h3>Tapa de morcilla</h3>
                <p>Pan casero de campo, morcilla, verdeo y queso brie.</p>
            </article>
            <article>
                <h3>Tapa de campo</h3>
                <p>Morcilla, papa, chutney de manzana y crema de eneldo</p>
            </article>
            <article>
                <h3>
                    Tapa de mollejas</h3>
                <p>Mollejas con mango, ananá, jengibre, chiles y pochoclo.
                </p>
            </article>
            <a class="main__entrada-boton" href="#volverArriba">Volver Arriba</a>
        
    </article>
</section>
</main>
 
    <footer class="footerContenedor">

    <article class="footer__img-contacto">
        <img class="footer__logo" src="/img/logo-web.png" alt="LOGO">
   </article>

    <article class="footer__redes">

        <div>
         <a href="#">Contacto</a>
        </div>

        <a class="color01"  href="#">Facebook</a>
        <a class="color02"  href="#">Twitter</a>
        <a class="color03"  href="#">Instagran</a>
     
     </article>
    </footer>
     </body>
     </html>